<a href="https://colab.research.google.com/github/jiaqiwang0/CS5100/blob/jackie/CS5100_covid_forcasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import pandas as pd
import re

In [ ]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
path = '/content/drive/My Drive/CS5100 Final Project/data'

In [ ]:
recovered_global_data = pd.read_csv(path+'/time_series_covid19_recovered_global.csv')
recovered_global_data[:]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/8/22,10/9/22,10/10/22,10/11/22,10/12/22,10/13/22,10/14/22,10/15/22,10/16/22,10/17/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
272,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
273,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
cofirmed_global_data = pd.read_csv(path+'/time_series_covid19_confirmed_global.csv')
cofirmed_global_data[:]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/8/22,10/9/22,10/10/22,10/11/22,10/12/22,10/13/22,10/14/22,10/15/22,10/16/22,10/17/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,200202,200372,200469,200626,200729,200846,201014,201096,201212,201276
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,332472,332494,332503,332534,332555,332579,332598,332619,332638,332645
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,270701,270707,270713,270716,270722,270722,270734,270734,270740,270757
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46275,46275,46275,46275,46366,46366,46366,46366,46366,46366
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,103131,103131,103131,103131,103131,103131,103131,103131,103131,103131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,702804,702804,702804,702804,702804,702804,702804,702804,702804,702804
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11939,11939,11939,11939,11939,11939,11939,11939,11939,11939
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333555,333555,333624,333624,333624,333624,333624,333624,333624,333644
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257655,257655,257749,257749,257798,257827,257827,257827,257893,257893

In [ ]:
death_global_data = pd.read_csv(path+'/time_series_covid19_deaths_global.csv')
death_global_data[:]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/8/22,10/9/22,10/10/22,10/11/22,10/12/22,10/13/22,10/14/22,10/15/22,10/16/22,10/17/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7804,7806,7807,7807,7807,7809,7809,7811,7811,7811
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3589,3589,3589,3590,3591,3591,3591,3591,3591,3592
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,155,155,155,155,155,155,155,155,155,155
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1917,1917,1917,1917,1917,1917,1917,1917,1917,1917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5707,5707,5707,5707,5707,5707,5707,5707,5707,5707
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2158,2158,2158,2158,2158,2158,2158,2158,2158,2158
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4017,4017,4017,4017,4017,4017,4017,4017,4017,4017
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5604,5604,5604,5604,5604,5605,5605,5605,5606,5606